.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.style85 {
  background-image: url(https://designresources.assets.yotako.io/40599uejisli1ti.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1199px;
  height: 625px;
  flex-direction: column
}
.image42image47row0,
.style94 {
  position: relative;
  display: flex
}
.style94 {
  background-image: url(https://designresources.assets.yotako.io/40599uejisli2pe.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  opacity: .68;
  align-self: stretch;
  flex-direction: column;
  margin-top: 0;
  width: 100%;
  height: 53px
}
.image42image47row0 {
  margin-left: 285px;
  margin-top: 18px;
  width: 715px;
  height: 15px;
  align-items: center;
  flex-shrink: 0
}
.style101,
.style102 {
  width: 15px;
  height: 100%;
  flex-shrink: 0
}
.style102 {
  position: relative;
  margin-left: 0
}
.style101 {
  margin-left: 98px
}
.style100,
.style99 {
  color: #231f20;
  text-align: center;
  font-family: helvetica,serif;
  font-size: .5625em;
  height: 9px
}
.style99 {
  flex-shrink: 0;
  margin-left: 138px
}
.style100 {
  margin-left: 303px;
  margin-top: 23px
}
.style100,
.style103,
.style95 {
  position: relative;
  flex-shrink: 0
}
.style103 {
  margin-left: 200px;
  margin-top: 9px;
  width: 61px;
  height: 61px
}
.style95 {
  background-image: url(https://designresources.assets.yotako.io/40599uejisli2rz.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 49px;
  width: 100%;
  height: 44px;
  align-self: stretch;
  flex-direction: column;
  justify-content: center
}
.image42image47image48row0 {
  display: flex;
  margin-left: 276px;
  width: 723px;
  height: 23px;
  align-items: center
}
.style96 {
  color: #fff;
  font-family: helveticaneue,serif;
  font-size: 1.25em;
  margin-left: 0;
  height: 17px
}
.style97,
.style98 {
  margin-left: 166px;
  width: 11px;
  height: 100%
}
.style97 {
  margin-left: 15px;
  width: 24px
}
.style93 {
  color: #363636;
  text-align: right;
  font-family: helvetica,serif;
  font-size: 1.375em;
  font-weight: 800;
  line-height: 40px;
  text-shadow: 7px 12px 14px rgba(24,24,24,.75);
  margin-left: 642px;
  margin-top: 106px;
  width: 358px
}
.image42row2 {
  display: flex;
  margin-left: 191px;
  margin-top: 21px;
  width: 807px;
  height: 301px
}
.style92 {
  margin-left: 0;
  width: 195px;
  height: 100%;
  align-self: stretch
}
.style86 {
  background-image: url(https://designresources.assets.yotako.io/40599uejisli2ej.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  opacity: .44;
  display: flex;
  margin-left: 83px;
  margin-top: 65px;
  width: 529px;
  height: 205px;
  flex-direction: column
}
.style91 {
  color: #fff;
  text-align: center;
  font-family: handwriting,serif;
  font-size: 2.125em;
  font-weight: 500;
  line-height: 70px;
  text-shadow: 4px 7px 7px rgba(24,24,24,.21);
  margin-left: 200px;
  margin-top: 27px;
  width: 294px
}
.style88 {
  background-image: url(https://designresources.assets.yotako.io/40599uejisli2g0.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 13px;
  width: 379px;
  height: 41px;
  align-self: flex-end;
  flex-direction: column;
  justify-content: center
}
.image42row2image43image44row0 {
  display: flex;
  margin-left: 33px;
  width: 329px;
  height: 29px;
  align-items: stretch
}
.style89 {
  color: #fff;
  text-align: center;
  font-family: helvetica,serif;
  font-size: 1.125em;
  font-weight: 700;
  margin-left: 0
}
.style90 {
  margin-left: 29px;
  width: 21px
}
.style87 {
  color: #fffefc;
  text-align: right;
  font-family: helvetica,serif;
  font-size: 1.0625em;
  font-weight: 500;
  margin-left: 183px;
  margin-top: 11px;
  height: 18px
}
.style82,
.style83 {
  color: #363636;
  text-align: center
}
.style83 {
  font-weight: 700;
  font-family: helvetica,serif;
  font-size: 1.5em;
  line-height: 44px;
  margin-left: 400px;
  margin-top: 136px;
  width: 394px
}
.style82 {
  font-family: handwriting,serif;
  font-size: 1em;
  line-height: 27px;
  margin-left: 349px;
  margin-top: 105px;
  width: 504px
}
.style84 {
  margin-left: 569px;
  margin-top: 124px;
  width: 61px;
  height: 61px
}
.style68 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhznq.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  height: 1309px;
  flex-direction: column
}
.style71 {
  color: #363636;
  text-align: center;
  font-family: helvetica,serif;
  font-size: 1.6875em;
  font-weight: 700;
  margin-top: 117px;
  height: 29px;
  align-self: center
}
.style80 {
  background-image: url(https://designresources.assets.yotako.io/40599uejisli0ql.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 158px;
  width: 50px;
  height: 50px;
  align-self: center;
  flex-direction: column;
  justify-content: center
}
.style81 {
  color: #fff;
  text-align: center;
  font-family: handwriting,serif;
  font-size: 1.6875em;
  margin-left: 19px;
  height: 20px
}
.image34row2 {
  display: flex;
  margin-left: 390px;
  margin-top: 55px;
  width: 430px;
  height: 722px
}
.style70 {
  color: #363636;
  text-align: center;
  font-family: helvetica,serif;
  font-size: 1.875em;
  font-weight: 700;
  line-height: 61px;
  margin-left: 0;
  width: 430px;
  align-self: stretch
}
.style78 {
  background-image: url(https://designresources.assets.yotako.io/40599uejisli0pe.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 186px;
  margin-top: 87px;
  width: 50px;
  height: 51px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style79 {
  color: #fff;
  text-align: center;
  font-family: handwriting,serif;
  font-size: 1.6875em;
  height: 20px
}
.style69,
.style76 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  align-items: center;
  flex-direction: column
}
.style69 {
  opacity: .75;
  position: relative;
  align-self: stretch;
  background-image: url(https://designresources.assets.yotako.io/40599uejisli0hm.png);
  margin-top: 525px;
  width: 100%;
  height: 783px
}
.style76 {
  background-image: url(https://designresources.assets.yotako.io/40599uejisli0o5.png);
  margin-top: 133px;
  width: 49px;
  height: 50px;
  justify-content: center
}
.style77 {
  color: #fff;
  text-align: center;
  font-family: handwriting,serif;
  font-size: 1.6875em;
  height: 21px
}
.style74 {
  background-image: url(https://designresources.assets.yotako.io/40599uejisli0lm.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 130px;
  width: 49px;
  height: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style75 {
  color: #fff;
  text-align: center;
  font-family: handwriting,serif;
  font-size: 1.6875em;
  height: 20px
}
.style72 {
  background-image: url(https://designresources.assets.yotako.io/40599uejisli0kg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 128px;
  width: 49px;
  height: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style66,
.style73 {
  color: #fff;
  text-align: center;
  font-family: handwriting,serif;
  font-size: 1.6875em;
  height: 21px
}
.style66 {
  color: #363636;
  font-size: 1.875em;
  margin-left: 422px;
  margin-top: 126px;
  height: 31px
}
.style67 {
  margin-left: 0;
  margin-top: 116px;
  width: 1200px;
  height: 31px
}
.row7 {
  display: flex;
  margin-left: 301px;
  margin-top: 75px;
  width: 575px;
  height: 47px;
  align-items: stretch
}
.style64 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhyh4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  width: 46px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style65 {
  width: 32px;
  height: 28px
}
.style59 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhydx.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 227px;
  width: 46px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style60 {
  width: 36px;
  height: 25px
}
.style54 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhyba.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 209px;
  width: 46px;
  align-items: center;
  flex-direction: column
}
.style55 {
  margin-top: 8px;
  width: 33px;
  height: 24px
}
.row8 {
  display: flex;
  margin-left: 261px;
  margin-top: 34px;
  width: 699px;
  height: 186px
}
.style63 {
  margin-left: 0;
  margin-top: 5px;
  width: 144px
}
.style53,
.style58,
.style63 {
  color: #8dc2cb;
  text-align: center;
  font-family: handwriting,serif;
  font-size: 1em;
  line-height: 29px
}
.style58 {
  align-self: stretch;
  margin-left: 100px;
  width: 189px
}
.style53 {
  margin-left: 72px;
  width: 193px
}
.row9 {
  display: flex;
  margin-left: 257px;
  margin-top: 25px;
  width: 677px;
  height: 33px;
  align-items: stretch
}
.style61 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhygc.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  width: 152px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style62 {
  color: #fff;
  text-align: justify;
  font-family: helvetica,serif;
  font-size: .75em;
  height: 13px
}
.style56 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhyd5.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 115px;
  width: 151px;
  flex-direction: column;
  justify-content: center
}
.style57 {
  color: #fff;
  text-align: justify;
  font-family: helvetica,serif;
  font-size: .75em;
  margin-left: 25px;
  height: 13px
}
.style51 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhyak.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 107px;
  width: 152px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style52 {
  color: #fff;
  text-align: justify;
  font-family: helvetica,serif;
  font-size: .75em;
  height: 10px
}
.style50 {
  margin-left: 0;
  margin-top: 98px;
  width: 1200px;
  height: 30px
}
.style49 {
  color: #363636;
  text-align: center;
  font-family: handwriting,serif;
  font-size: 1.875em;
  margin-left: 298px;
  margin-top: 161px;
  height: 32px
}
.row12 {
  display: flex;
  margin-left: 271px;
  margin-top: 131px;
  width: 161px;
  height: 67px;
  align-items: center
}
.style48 {
  color: #a9d1d8;
  text-align: center;
  font-family: helvetica,serif;
  font-size: 1.9375em;
  font-weight: 300;
  margin-left: 0;
  height: 31px
}
.style47 {
  margin-left: 9px;
  width: 82px;
  height: 100%
}
.row13 {
  display: flex;
  margin-left: 200px;
  margin-top: 0;
  width: 799px;
  height: 172px;
  align-items: center
}
.style45 {
  margin-left: 0;
  width: 179px;
  height: 100%
}
.style44,
.style46 {
  font-family: helvetica,serif;
  font-weight: 300
}
.style46 {
  line-height: 21px;
  width: 571px;
  color: #8dc2cb;
  text-align: justify;
  font-size: .625em;
  margin-left: 49px
}
.style44 {
  color: #ef4036;
  text-align: center;
  font-size: 2.25em;
  margin-left: 774px;
  margin-top: 88px;
  height: 43px
}
.style43 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhxhd.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  display: flex;
  margin-left: 756px;
  margin-top: 2px;
  width: 81px;
  height: 72px;
  flex-direction: column
}
.style41 {
  position: relative;
  margin-left: 66px;
  margin-top: 17px;
  width: 178px;
  height: 175px;
  flex-shrink: 0
}
.style42 {
  color: #ef4036;
  text-align: justify;
  font-family: helvetica,serif;
  font-size: .625em;
  font-weight: 300;
  line-height: 21px;
  margin-left: 199px;
  margin-top: 0;
  width: 565px
}
.style40 {
  color: #605d5e;
  font-family: handwriting,serif;
  font-size: 1.875em;
  margin-left: 341px;
  margin-top: 245px;
  height: 32px
}
.row18 {
  display: flex;
  margin-left: 289px;
  margin-top: 165px;
  width: 622px;
  height: 76px;
  align-items: stretch
}
.style38 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhxdw.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  width: 75px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style39 {
  color: #605d5e;
  text-align: center;
  font-family: helvetica,serif;
  font-size: 1.875em;
  height: 25px
}
.style29 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhx1c.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 201px;
  width: 75px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style30 {
  color: #605d5e;
  text-align: center;
  font-family: helvetica,serif;
  font-size: 1.875em;
  height: 25px
}
.style23 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhwsy.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 196px;
  width: 75px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style31,
.style32 {
  text-align: center;
  font-size: 1.3125em
}
.style31 {
  line-height: 41px;
  text-decoration: underline solid #fff;
  width: 37px;
  color: #fff;
  font-family: helvetica,serif
}
.style32 {
  color: #ef4036;
  font-family: handwriting,serif;
  font-weight: 500;
  margin-left: 511px;
  margin-top: 45px;
  height: 57px
}
.row20 {
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1197px;
  height: 716px;
  align-items: stretch;
  justify-content: space-between
}
.style33 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhxao.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 457px;
  flex-direction: column
}
.style36,
.style37 {
  color: #605d5e;
  text-align: center
}
.style37 {
  font-weight: 800;
  font-family: helveticaneuebold,serif;
  font-size: 1.875em;
  line-height: 51px;
  margin-left: 211px;
  margin-top: 87px;
  width: 212px
}
.style36 {
  font-family: handwriting,serif;
  font-size: .75em;
  line-height: 25px;
  margin-left: 209px;
  margin-top: 69px;
  width: 213px
}
.style34 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhxby.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 239px;
  margin-top: 136px;
  width: 173px;
  height: 39px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style35 {
  color: #fff;
  text-align: center;
  font-family: handwriting,serif;
  font-size: .75em;
  font-weight: 500;
  line-height: 22px;
  width: 119px
}
.style24 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhwyu.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  display: flex;
  width: 275px;
  flex-direction: column
}
.style27,
.style28 {
  text-align: center;
  align-self: center
}
.style28 {
  font-weight: 800;
  color: #605d5e;
  font-family: helveticaneuebold,serif;
  font-size: 1.875em;
  line-height: 51px;
  margin-top: 87px;
  width: 212px
}
.style27 {
  color: #fff;
  font-family: handwriting,serif;
  font-size: .75em;
  line-height: 25px;
  margin-top: 68px;
  width: 222px
}
.style25 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhx00.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 47px;
  margin-top: 92px;
  width: 173px;
  height: 39px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style26 {
  color: #fff;
  text-align: center;
  font-family: handwriting,serif;
  font-size: .75em;
  font-weight: 500;
  line-height: 22px;
  width: 119px
}
.style17 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhwlv.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 451px;
  flex-direction: column
}
.style22 {
  color: #fff;
  text-align: center;
  font-family: helveticaneuebold,serif;
  font-size: 1.3125em;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 41px;
  margin-left: 23px;
  margin-top: 86px;
  width: 212px
}
.style21 {
  color: #605d5e;
  text-align: center;
  font-family: handwriting,serif;
  font-size: .75em;
  line-height: 25px;
  margin-left: 39px;
  margin-top: 61px;
  width: 170px
}
.style19 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhwrk.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 35px;
  margin-top: 92px;
  width: 173px;
  height: 39px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style20 {
  color: #fff;
  text-align: center;
  font-family: handwriting,serif;
  font-size: .75em;
  font-weight: 500;
  line-height: 22px;
  width: 119px
}
.style18 {
  color: #605d5e;
  text-align: center;
  font-family: helvetica,serif;
  font-size: .5625em;
  font-weight: 800;
  margin-left: 56px;
  margin-top: 17px;
  height: 10px
}
.style15 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhw9w.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 561px;
  margin-top: 110px;
  width: 75px;
  height: 75px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style16 {
  width: 42px;
  height: 43px
}
.style14 {
  color: #413e3e;
  text-align: center;
  font-family: helveticaneue,serif;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 35px;
  margin-left: 505px;
  margin-top: 63px;
  width: 209px
}
.style12 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhw8e.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  opacity: .28;
  display: flex;
  margin-left: 465px;
  margin-top: 78px;
  width: 273px;
  height: 31px;
  flex-direction: column;
  justify-content: center
}
.style13 {
  color: #363636;
  text-align: center;
  font-family: helvetica,serif;
  font-size: .75em;
  margin-left: 10px;
  height: 9px
}
.style10 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhw6m.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  opacity: .28;
  display: flex;
  margin-left: 465px;
  margin-top: 10px;
  width: 273px;
  height: 31px;
  flex-direction: column;
  justify-content: center
}
.style11 {
  color: #363636;
  text-align: center;
  font-family: helvetica,serif;
  font-size: .75em;
  margin-left: 11px;
  height: 9px
}
.style8 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhvpo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  opacity: .28;
  display: flex;
  margin-left: 465px;
  margin-top: 12px;
  width: 273px;
  height: 75px;
  flex-direction: column
}
.style9 {
  color: #363636;
  text-align: center;
  font-family: helvetica,serif;
  font-size: .75em;
  margin-left: 11px;
  margin-top: 8px;
  height: 9px
}
.style6 {
  background-image: url(https://designresources.assets.yotako.io/40599uejislhvo3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 465px;
  margin-top: 2px;
  width: 273px;
  height: 36px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style7 {
  color: #fff;
  text-align: center;
  font-family: helvetica,serif;
  font-size: .75em;
  font-weight: 800;
  height: 13px
}
.row27 {
  display: flex;
  margin-left: 481px;
  margin-top: 77px;
  width: 216px;
  height: 34px
}
.style5 {
  opacity: .72;
  margin-left: 0;
  width: 25px;
  height: 25px
}
.style4 {
  color: #605d5e;
  font-family: helvetica,serif;
  font-size: .8125em;
  line-height: 22px;
  margin-left: 11px;
  width: 179px
}
.row28 {
  display: flex;
  margin-left: 573px;
  margin-top: 34px;
  width: 55px;
  height: 24px;
  align-items: stretch
}
.style2,
.style3 {
  opacity: .79;
  margin-left: 0;
  width: 11px
}
.style3 {
  margin-left: 20px;
  width: 24px
}
.style0 {
  margin-left: 582px;
  margin-top: 179px;
  width: 51px;
  height: 51px
}
.style1 {
  color: #231f20;
  text-align: center;
  font-family: helvetica,serif;
  font-size: .5em;
  margin-left: 415px;
  margin-top: 35px;
  height: 8px
}